# Ignore Gradle build directory
/build/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore Maven build directory
target/

# Ignore Docker build artifacts
*.jar
^y
